mixin footer()
	//- Скролл вверх
	.to-top-js
		img(src="img/to-top.png", alt="to-top")
	//- footer 
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-lg-7
					.row.justify-content-between
						.col-md
							+e.A.logo(href="index.html")
								+e.img-wrap
									img(src="img/logo-2.png", alt="вакома логотип")
								+e.logo-title Ваше ателье в области редукторостроения
							p Копирование материала сайта только с&nbsp;письменного&nbsp;согласия собственника сайта
							+e.secondary-menu.d-none.d-md-block
								ul
									li
										a(href="privacy-policy.pdf") Политика конфиденциальности
									li
										a(href="processing-conditions.pdf") Пользовательское соглашение
									li
										a(href="sitemap.xml") Карта сайта
						+e.coll.col-md
							+e.menu
								ul
									li
										a(href="tehnicheskie-vozmojnosti.html") Технические возможности
									li
										a(href="novosti.html") Новости
									li
										a(href="tyajelonagrujennie-reduktori.html") Тяжелонагруженные редукторы
									li
										a(href="turboreduktori.html") Мультипликаторы (турборедукторы)
									li
										a(href="zubchatie-peredachi.html") Зубчатые передачи и комплектующие
									li
										a(href="importozameshenie.html").text-warning Импортозамещение 
									li
										a(href="kontakti.html") Контакты

				.col-lg
					.row
						+e.col.col-md-6.col-xl-7
							+e.write Пишите нам:
								a(href="mailto:office@vakoma.ru") office@vakoma.ru
						.col-md-6.col-xl-5
							+e.contacts
								+e.A.number(href="tel:8(3519)23-54-00" target="_blank") 8 (3519) #[strong 23-54-00]
								+e.A.call.link-modal(href="#modal-call") Заказать звонок
								+e.messengers
									+messengers()
						+e.col.col-md-6
							+e.secondary-menu.d-block.d-md-none
								ul
									li
										a(href="privacy-policy.pdf") Политика конфиденциальности
									li
										a(href="processing-conditions.pdf") Пользовательское соглашение
									li
										a(href="sitemap.xml") Карта сайта
							+e.text Создание и&nbsp;продвижение  сайта: #[a(href="https://studiobars.ru" target="_blank")  Студия &laquo;Барс&raquo;] 
						.col-md-6
							+b.develop-link(href="https://studiobars.ru" target="_blank")
								+e.panel
									img.img-1(src="img/svg/hand.svg", alt="studiobars")
									img.img-2(src="img/svg/logo-text.svg", alt="studiobars")


