.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-mail {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mail-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-maps-and-flags {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-slider-arrow {
	font-size:(477.18/10)*1rem;
	width:(477.18/477.18)*1em;
}
.icon-telephone {
	font-size:(480.56/10)*1rem;
	width:(480.56/480.56)*1em;
}
.icon-viber {
	font-size:(52.51/10)*1rem;
	width:(52.51/52.51)*1em;
}
.icon-whatsapp {
	font-size:(470/10)*1rem;
	width:(470/470)*1em;
}
