
mixin modal() 
 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win--call modal-form" ) 
			+e.top-title Для оформления заказа оставьте ваши контакты
			//- +e.text.h6 Администратор Ольга позвонит вам прямо сейчас или в&nbsp;другое рабочее время:
			//- +e.text--sm Специалист компании Александр позвонит вам прямо сейчас или в&nbsp;другое рабочее время: мы&nbsp;работаем пн-пт с&nbsp;10:00 до&nbsp;18:00
			input(type="hidden" name="formwithtime" value="formwithtime") 
			+input('Иван', 'text', 'Как к вам обращаться?','name')
			+form-tabs()
			+e.input-wrapper
				+e.comment--js.text-center Задайте вопрос, если есть
				+e.toggle-block--js
					+input('Текст сообщения', 'textarea')
			+e.btn(type='submit') Заказать звонок
			+polite
		// #modal-call
	// modal