mixin s-img()
	// start s-img
	+b.s-img#s-img&attributes(attributes)
		.container
			.row
				.col-md-6.pb-2
					img.res-i(src="img/prod-1.png", alt="")
				.col-md-6
					img.res-i(src="img/prod-2.png", alt="")


	// end s-img