mixin s-news()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			+item("img/@2x/image003.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора е(мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'#')
			+item("img/@2x/image003.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора е(мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'#')
			+item("img/@2x/image003.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора е(мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'#')
	// end s-news