extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Главная'
	title= title
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Технические возможности
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Новости
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Редукторы и мультипликаторы
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Контакты


	//- +header()
	+topLine()
		+mob-mnu()
			+menu()
	+top-nav
		+menu()
	.container
		nav(aria-label="breadcrumb" )
			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
				li.breadcrumb-item(  itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name") Главная 
						meta(itemprop="position" )
				li.breadcrumb-item( class="active" itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name") Зубчатые передачи и комплектующие
						meta(itemprop="position" )
	+text()(class="text-block--inner")
		.container
			.h2.text-center Зубчатые передачи и комплектующие
			.h4.text-center Зубчатые передачи
			p Одним из основных направлений ООО «ВАКОМА РУС» является конструирование и изготовления зубчатых передач для следующей основной номенклатуры приводных машин:
			ul
				li Тяжелонагруженные цилиндрические редукторы;
				li Высокоскоростные мультипликаторы (турборедукторы) для газотурбинных установок, дожимных компрессорных установок и&nbsp;турбодетандеров;
				li Мультипликаторы нагнетателей и&nbsp;центробежных компрессоров;
				li Мультипликаторы для горизонтальных насосных установок;
				li Модернизированные редукторы для аппаратов воздушного охлаждения (АВО), станков-качалок и&nbsp;систем цепного привода;
				li Редукторной техники отечественных и&nbsp;иностранных производителей.
			p Расчёты зубчатых передач производятся автоматизировано. Выбор числа ступеней, подбор межосевых расстояний, разбивка передаточного числа по&nbsp;ступеням производится так, чтобы вес редуктора был минимальным, ступени были равнопрочными и&nbsp;имели больший запас прочности по&nbsp;сравнению с&nbsp;аналогами
			p Изготовление оборудования ведется как на&nbsp;основании предоставленной конструкторской документации Заказчиком, а&nbsp;также по&nbsp;собственному инжинирингу на&nbsp;основании проведенных геометрических замеров действующего оборудования с&nbsp;сохранением посадочных мест и&nbsp;присоединительных размеров.
			p При изготовлении зубчатых передач применяются усовершенствованные NiCrMo сплавы, имеющие повышенные характеристики. В&nbsp;процессе изготовления применяется технологическоая операция по&nbsp;термообработки поверхности зубьев&nbsp;&mdash; цементация, зубошлифовка.
			p Зубчатые предеачи поставляются заказчику динамически отбалансированными с&nbsp;классом точности не&nbsp;ниже G&nbsp;6,3&nbsp;с предоставлением протокола балансировки.
			.h4.text-center Корпуса редукторов
			p При проведении ремонтов у&nbsp;Заказчиков появляется потребность в&nbsp;замене корпусной части редукторов. ООО &laquo;ВАКОМА РУС&raquo; имеет богатый опыт изготовления корпусов для редукторной техники любой номенклатуры.
			p Корпуса редукторов, турборедукторов (мультипликаторов) могут быть разработаны и&nbsp;изготовлены в&nbsp;двух вариантах:
			ul
				li Крутильно-жесткий, недеформируемый, сварной конструкции (рассчитан в&nbsp;соответствии с&nbsp;МКЭ);
				li В&nbsp;отдельных случаях&nbsp;&mdash; литой, с&nbsp;механической обработкой.
			p Проверка прочности и&nbsp;жёсткости корпусных узлов осуществляется методом конечных элементов.
			p Изготовление ведется с&nbsp;учётом монтажа на&nbsp;существующие фундаменты, посадочных мест валов (подшипников) Заказчика с&nbsp;полным сохранением всех основных присоединительных размеров.
			.h4.text-center Восстановление редукторов
			p Изготовление ведется с&nbsp;учётом монтажа на&nbsp;существующие фундаменты, посадочных мест валов (подшипников) Заказчика с&nbsp;полным сохранением всех основных присоединительных размеров.
			p При восстановлении редукторной техники специалисты нашей компании проводят следующие основные операции:
			ul
				li Проектирование и&nbsp;изготовление аналоаг зубчатой передачи с&nbsp;сохранением посадочных размеров.
				li Восстановительные работы корпуса редуктора (шлифование ответственных узлов корпуса, дробеструйная обработка, покраска корпуса, нивелировка.
				li Изготовление и&nbsp;установка подшипников на&nbsp;готовые посадочные места <br>(по&nbsp;согласованию с&nbsp;Заказчиком подшипники применяются как российского производства, так и ведущих мировых производителей).
				li Укладка зубчатой передачи в&nbsp;восстановленный корпус.
				li Тестовая прокрутка (FreeLoadTestRun)/
				li Консервация и&nbsp;упаковка готового редуктора.
				li Услуги по&nbsp;шеф-монтажным и&nbsp;монтажным работам.
				li Предоставление гарантийных обязательств на&nbsp;редуктор.
			p Проведение восстановительных работ ведется на&nbsp;площадке ООО &laquo;ВАКОМА РУС&raquo; в&nbsp;г. Магнитогорск. По&nbsp;окончании работ заказчик получает редуктор, готовый к&nbsp;установке.
	//- +s-img
	+footer()