extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Контакты'
	title= title
block description 
	meta(name="description", content= "" )

block keywords
	meta(name="Keywords", content= "" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") 
				span Технические возможности
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="#" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="#" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="#"  itemprop="url")
				span Импортозамещение
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="#"  itemprop="url") 
				span Контакты


	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()
	.container
		nav(aria-label="breadcrumb" )
			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
				li.breadcrumb-item(  itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name") Главная 
						meta(itemprop="position" )
				li.breadcrumb-item( class="active" itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name")= title
						meta(itemprop="position" )
	+text()(class="text-block--contact")
		.container
			h1.h2.text-center= title
	+sContact
	//- +s-img
	+footer()