extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Cпасибо'
	title= title
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Технические возможности
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Новости
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Редукторы и мультипликаторы
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Контакты


	//- +header()
	+topLine()
		+mob-mnu()
			+menu()
	+top-nav
		+menu()
	.container
		nav(aria-label="breadcrumb" )
			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
				li.breadcrumb-item(  itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name") Вернуться на сайт 
						meta(itemprop="position" )
	+text()(class="text-block--thanks")
		.container
			h1.h2.text-center Иван, спасибо, мы приняли вашу заявку!
			.h4.text-center Наш специалист перезвонит и ответит на ваши вопросы.
			.h4.text-center Удачного дня!


	+footer()