extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
	- let  mainYear= '2021'

block title
	- let  title= 'Вакома РУС, проектирование и изготовление редукторной техники'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+s-news-body()
		+itemNews("img/@2x/2021-03-10-news-01.jpg","10.03.2021","Редукторы-мультипликаторы для испытательных стендов",'news-2021-03-10.html')
		+itemNews("img/@2x/2021-03-05-news-01.jpg","05.03.2021","Комплект зубчатой передачи редуктора агрегата электронасосного трехплунжерного АНТ-370-03В-УХЛ4G8C5 для ООО «Когалым НПО-Сервис»",'news-2021-03-05.html')
		+itemNews("img/@2x/2021-03-01-news-01.jpg","01.03.2021","2 комплекта конических зубчатых передач агрегата бурения скважин АРС-125 для ООО «Белоруснефть-Сибирь»",'news-2021-03-01.html')
		+itemNews("img/@2x/2021-02-20-news-01.jpg","20.02.2021","2 комплекта зубчатых пар конического редуктора G8C5 АВО (импортозамещение NIPPON GEAR, Япония) для ПАО «СИБУР Холдинг»",'news-2021-02-20.html')
		+itemNews("img/@2x/2021-02-10-news-01.jpg","10.02.2021","Экспериментальная поставка тележек расплава (аналог TROLLEY&BUCKET, импортозамещение США) для ПАО «СИБУР Холдинг»",'news-2021-02-10.html')
		+itemNews("img/@2x/2021-02-01-news-01.jpg","01.02.2021","Вторая партия промежуточных валов специального исполнения - аналог промвала Rexnord вентиляторной установки Linde (импортозамещение США, Германия) для ПАО «СИБУР Холдинг»",'news-2021-02-01.html')
		+itemNews("img/@2x/2021-01-11-news-01.jpg","11.01.2021","Второй ремонтный комплект зубчатой передачи делящего редуктора двухшнекового экструдера DWD (импортозамещение WELDING, Швейцария) для ПАО «Нижнекамскнефтехим»",'news-2021-01-11.html')

	.pb-5
		+bread()
	//- +s-img
	+footer()