extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Контакты — ООО Вакома РУС'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "Контакты, ООО Вакома РУС, вакома, вакома рус, контакты вакома, вакома адрес, вакома проезд, Капитанский Сергей Анатольевич, Дивнич Петр Николаевич" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты


	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()
	.container
		nav(aria-label="breadcrumb" )
			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
				li.breadcrumb-item(  itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='index.html' itemprop="item" )
						span( itemprop="name") Главная 
						meta(itemprop="position" )
				li.breadcrumb-item( class="active" itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name") Контакты
						meta(itemprop="position" )
	+text()(class="text-block--contact")
		.container
			h1.h2.text-center Контакты
	+sContact
	//- +s-img
	+footer()