extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Комплект зубчатой передачи редуктора агрегата электронасосного трехплунжерного АНТ-370-03В-УХЛ4G8C5 для ООО «Когалым НПО-Сервис»'
	title= title
block description 
	meta(name="description", content= "ООО «ВАКОМА РУС» выполнило работы по изготовлению двух комплектов зубчатых пар конического редуктора G8C5 (оригинальный производитель NIPPON GEAR, Япония) для аппаратов воздушного охлаждения" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			p.strong Комплект зубчатой передачи редуктора агрегата электронасосного трехплунжерного АНТ-370-03В-УХЛ4G8C5 для ООО «Когалым НПО-Сервис»
			p В рамках реализации программы по обслуживанию и эксплуатации основного технологического оборудования ООО «ВАКОМА РУС» выполнило работы по разработке конструкторской документации, изготовлению и поставке зубчатой передачи редуктора агрегата электронасосного трехплунжерного АНТ-370-03В-УХЛ4G8C5 для ООО «Когалым НПО-Сервис».
			p При изготовлении были использованы усовершенствованные NiCrMo марки сплавов, имеющие повышенные характеристики, с проведением термообработки поверхности зубьев – цементация, зубошлифовки и динамической балансировки.


	//-+s-img-news-2020-02-18
	+s-img-news-body()
		+slidImg('img/@2x/2021-03-05-news-01.jpg', 'img/@2x/2021-03-05-news-xl-01.jpg', 'вакома рус')
		+slidImg('img/@2x/2021-03-05-news-02.jpg', 'img/@2x/2021-03-05-news-xl-02.jpg', 'вакома рус')
		+slidImg('img/@2x/2021-03-05-news-03.jpg', 'img/@2x/2021-03-05-news-xl-03.jpg', 'вакома рус')
		//-+slidImg('img/@2x/2021-03-05-news-04.jpg', 'img/@2x/2021-03-05-news-xl-04.jpg', 'вакома рус')

	.container
		.strong Технические характеристики:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th( ) Параметр
					th Значение
	
				tr.bg-light
					td  Момент кручения max, кгс•м
					td.text-center 425
	
				tr.bg-light
					td  Частота вращения быстроходного вала, об./мин
					td.text-center 1 500
	
				tr.bg-light
					td  Частота вращения тихоходного вала, об./мин
					td.text-center 250
	
				tr.bg-light
					td  Передаточное число (i)
					td.text-center 6,11

 
	
	.pb-5
		+bread()
	+footer()