extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			h1.strong 3&nbsp;комплекта зубчатых пар конического редуктора G9C5&nbsp;АВО (импортозамещение NIPPONGEAR, Япония) для ПАО &laquo;СИБУР Холдинг&raquo;.
			p ООО &laquo;ВАКОМА РУС&raquo; выполнило работы по&nbsp;изготовлению 3-х комплектов зубчатых пар конического редуктора G9C5 (оригинальный производитель NIPPONGEAR, Япония) для аппаратов воздушного охлаждения
			p При изготовлении были использованы усовершенствованные NiCrMo марки сплавов, имеющие повышенные характеристики, с&nbsp;проведением термообработки поверхности зубьев&nbsp;&mdash; цементация (твердость 67&nbsp;HRC, h = 1,4&nbsp;&mdash; 1,7&nbsp;мм), зубошлифовки.
	//- +s-img-news-2016-08-11
	//- +s-img-news-body()
		+slidImg('img/@2x/news_item_20160811_01.jpg', 'img/@2x/news_item_20160811_01x.jpg', 'шестерня ведомая')
		+slidImg('img/@2x/news_item_20160811_01.jpg', 'https://www.youtube.com/embed/T5EujiWSWCA', 'шестерня ведомая')
		//- +slidImg('img/@2x/news_item_20160811_02.jpg', 'img/@2x/news_item_20160811_02x.jpg', 'шестерня ведущая')
	.container
		.strong Технические характеристики:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th(style="width: 35%") Параметр
					th Значение
		 
				mixin tr(t1, t2)
					tr.bg-light
						td= t1
						td(colspan="2" ).text-center= t2
				+tr(" Мощность, кВт",'200 ') 
				+tr(" Номинальное число оборотов, об/мин",'740 ') 
				+tr("Передаточное отношение ",'83,998 ') 
				+tr("Вес, кг",'12 000 ') 
	
	.pb-5
		+bread()
	+footer()