extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			p.strong Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»
			p На основании проведенных замеров и изучения исходной документации на площадке Заказчика была разработана конструкторская документация, в соответствии с которой были изготовлены комплект зубчатой передачи (шестерня ведомая, шестерня ведущая) для редуктора М-430, имеющего следующие характеристики: подшипники скольжения (опорные и опорно-упорный), втулки зубчатые, обоймы, полумуфты). При изготовлении были использованы усовершенствованные NiCrMo марки сплавов, имеющие повышенные характеристики, с проведением термообработки поверхности зубьев – цементация (твердость 58-60 HRC).
	+s-img-news-2016-08-11
	.container
		.strong Технические характеристики:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th( ) Параметр
					th Вал-шестерня
					th  Колесо зубчатое с валом
	
				tr.bg-light
					td  Мощность эл. двигателя, кВт
					td(colspan="2").text-center  18 000
	
				tr.bg-light
					td  Частота вращения на входном валу, <br>  об./мин
					td(colspan="2").text-center 10 998
	
				tr.bg-light
					td  Число зубьев
					td.text-center 40
					td.text-center 83
	
				tr.bg-light
					td  Передаточное отношение
					td(colspan="2").text-center 1 : 2,075
	
				tr.bg-light
					td  Межосевое расстояние, мм
					td(colspan="2").text-center 430
	
				tr.bg-light
					td  Угол наклона зубьев, °
					td(colspan="2").text-center 30,9
	
				tr.bg-light
					td  Модуль, мм
					td(colspan="2").text-center 6
	
				tr.bg-light
					td  Масса, кг
					td.text-center 315
					td.text-center 932
 
	
	.pb-5
		+bread()
	+footer()