extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			h1.strong  Комплект ускоряющей передачи винтового компрессора ВГС-90/1,25-5,1&nbsp;БК УХЛ1 для ПАО &laquo;Нижнекамскнефтехим&raquo;
			p Для пополнения фонда аварийно-технического запаса ООО &laquo;ВАКОМА РУС&raquo; выполнило работы по&nbsp;изготовлению и&nbsp;поставке ускоряющей передачи компрессорной установки ВГС-90/1,25-5,1&nbsp;БК УХЛ1
			p При изготовлении были использованы усовершенствованные NiCrMo марки сплавов, имеющие повышенные характеристики, с&nbsp;проведением термообработки поверхности зубьев&nbsp;&mdash; цементация (твердость 60&nbsp;HRC, h = 1,2&nbsp;мм), зубошлифовке и&nbsp;динамической балансировке.
	//- +s-img-news-2016-08-11
	+s-img-news-body()
		+slidImg('img/@2x/2017-12-05-news-01.jpg', 'img/@2x/2017-12-05-news-xl-01.jpg', '')
		+slidImg('img/@2x/2017-12-05-news-02.jpg', 'img/@2x/2017-12-05-news-xl-02.jpg', '')
		+slidImg('img/@2x/2017-12-05-news-03.jpg', 'img/@2x/2017-12-05-news-xl-03.jpg', '')
		+slidImg('img/@2x/2017-12-05-news-04.jpg', 'img/@2x/2017-12-05-news-xl-04.jpg', '')
	.container
		.strong Технические характеристики зубчатой пары:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th Параметр
					th Шестерня ведомого ротора
					th Шестерня ведущего ротора
				tr.bg-light
					td  Число зубьев
					td.text-center 76
					td.text-center 114
				mixin tr(t1, t2)
					tr.bg-light
						td= t1
						td(colspan="2" ).text-center= t2
				+tr("Угол наклона зубьев, °",'19°31’51,84”')
				+tr("Модуль, мм",'2,5')
				+tr("Масса, кг",'40')
				
	.pb-5
		+bread()
	+footer()