extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			h1.strong  Капитальный ремонт турборедуктора Р-3600 установки ГТТ-3М для АО&nbsp;&laquo;Аммоний&raquo;
			p По&nbsp;программе ремонта основного технологического оборудования ООО &laquo;ВАКОМА РУС&raquo; выполнило капитальный ремонт турборедуктора Р-3600 установки ГТТ-3М.
			p В&nbsp;соответствии с&nbsp;подписанным договором специалистами нашей компании была разработана конструкторская документация, выполнено изготовление комплекта зубчатой передачи (колесо привода турбины, шестерня нагнетателя, промежуточного вала с&nbsp;колесом, колесо привода электродвигателя, подшипников, муфт зубчатых и&nbsp;прочих элементов. 
			p Проведены восстановительные работы корпуса редуктора, проведено шлифование ответственных узлов корпуса. Также выполнялась дробеструйная обработка, покраска корпуса. Для центровки мест установки подшипников, а&nbsp;также выдержки размеров под подшипники изготовлялись фальшвалы, которые в&nbsp;дальнейшем включались в&nbsp;поставку. Выполнена нивелировка. Установка подшипников на&nbsp;готовые посадочные места. Укладка зубчатой передачи в&nbsp;восстановленный корпус и&nbsp;тестовая прокрутка с&nbsp;механическим усилием.
			p При изготовлении были использованы усовершенствованные NiCrMo марки сплавов, имеющие повышенные характеристики, с&nbsp;проведением термообработки поверхности зубьев&nbsp;&mdash; цементация (твердость 58&nbsp;HRC), зубошлифовке и&nbsp;динамической балансировке с&nbsp;установленными на&nbsp;валы зубчатыми втулками.
			p После приемки работ турборедуктор был подвергнут консервации и&nbsp;отправлен Заказчику.
	//- +s-img-news-2016-08-11
	+s-img-news-body()
		+slidImg('img/@2x/2017-06-08-news-01.jpg', 'img/@2x/2017-06-08-news-xl-01.jpg')
		+slidImg('img/@2x/2017-06-08-news-13.jpg', 'img/@2x/2017-06-08-news-xl-13.jpg')
		+slidImg('img/@2x/2017-06-08-news-02.jpg', 'img/@2x/2017-06-08-news-xl-02.jpg')
		+slidImg('img/@2x/2017-06-08-news-03.jpg', 'img/@2x/2017-06-08-news-xl-03.jpg')
		+slidImg('img/@2x/2017-06-08-news-04.jpg', 'img/@2x/2017-06-08-news-xl-04.jpg')
		+slidImg('img/@2x/2017-06-08-news-05.jpg', 'img/@2x/2017-06-08-news-xl-05.jpg')
		+slidImg('img/@2x/2017-06-08-news-06.jpg', 'img/@2x/2017-06-08-news-xl-06.jpg')
		+slidImg('img/@2x/2017-06-08-news-07.jpg', 'img/@2x/2017-06-08-news-xl-07.jpg')
		+slidImg('img/@2x/2017-06-08-news-08.jpg', 'img/@2x/2017-06-08-news-xl-08.jpg')
		+slidImg('img/@2x/2017-06-08-news-09.jpg', 'img/@2x/2017-06-08-news-xl-09.jpg')
		+slidImg('img/@2x/2017-06-08-news-10.jpg', 'img/@2x/2017-06-08-news-xl-10.jpg')
		+slidImg('img/@2x/2017-06-08-news-11.jpg', 'img/@2x/2017-06-08-news-xl-11.jpg')
		+slidImg('img/@2x/2017-06-08-news-12.jpg', 'img/@2x/2017-06-08-news-xl-12.jpg')
		
	.container
		.strong Технические характеристики:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th(colspan="2") Параметр
					th Редуктор Р-3 600
				tr.bg-light
					td(rowspan="3") Мощность на валу, кВт
					td Турбины
					td.text-center 3 100
				tr.bg-light
					 
					td Нагнетателя
					td.text-center 3 900
				tr.bg-light
					
					td Электродвигателя
					td.text-center 800
				tr.bg-light
					td(rowspan="3") Частота вращения, об/сек
					td Колеса привода турбины
					td.text-center 85,91
				tr.bg-light
					 
					td Шестерни нагнетателя
					td.text-center 127,08
				tr.bg-light
					
					td Колеса привода электродвигателя
					td.text-center 50
				tr.bg-light
					td(rowspan="2") Передаточное число
					td Турбина-нагнетатель
					td.text-center 1,48
				tr.bg-light
					 
					td Эл. Двигатель - турбина
					td.text-center 1,72

				mixin tr(t1, t2)
					tr.bg-light
						td(colspan="2")= t1
						td.text-center( )= t2 
				+tr("Модуль нормальный, мм",' 5')
				+tr("Угол наклона зубьев",'31º  47’ 18” ')
				+tr("Степень точности по ГОСТ 1643-81",'5-8 ')
 
	
	.pb-5
		+bread()
	+footer()