extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			p.strong Поставка редуктора главного привода мельницы &Oslash;4,0&times;13,5&nbsp;м для ООО &laquo;Цемек Минералс&raquo;
			p В&nbsp;соответствии с&nbsp;техническим заданием Заказчика специалистами VAKOMA была разработана конструкторская документация редуктора с&nbsp;учетом всех технологических требований новой мельницы &Oslash;4,0&times;13,5, устанавливаемой в&nbsp;рамках проекта расширения линии производства линии цемента. Редуктор изготовлен на&nbsp;заводе в&nbsp;Германии и&nbsp;поставлен Заказчику в&nbsp;срок с&nbsp;учетом выполнения всех технологических операций выполняемых при изготовлении редукторной техники (цементация, зубошлифовка, балансировка, проверка пятна контакта).
	+s-img-news-body()
		+slidImg('img/@2x/09-07-2016--1.jpg', 'img/@2x/09-07-2016--1.jpg', 'Редуктор 3200кВт. Проект 2016')
		+slidImg('img/@2x/09-07-2016--2.jpg', 'img/@2x/09-07-2016--2.jpg', 'Редуктор перед покраской')
		+slidImg('img/@2x/09-07-2016--3.jpg', 'img/@2x/09-07-2016--3.jpg', 'Тестовые испытания редуктора')
		+slidImg('img/@2x/09-07-2016--4.jpg', 'img/@2x/09-07-2016--4.jpg', 'Редуктор перед отгрузкой')
		+slidImg('img/@1x/09-07-2016--5.jpg', 'img/@2x/09-07-2016--5.jpg', 'Контроль пятна контакта')
		+slidImg('img/@2x/09-07-2016--6.jpg', 'img/@2x/09-07-2016--6.jpg', 'Редуктор готов к упаковке')
		+slidImg('img/@1x/09-07-2016--7.jpg', 'img/@2x/09-07-2016--7.jpg', 'Контроль пятна контакта')
		+slidImg('img/@1x/09-07-2016--8.jpg', 'img/@2x/09-07-2016--8.jpg', 'Контроль пятна контакта')
		+slidImg('img/@1x/09-07-2016--9.jpg', 'img/@2x/09-07-2016--9.jpg', 'Редуктор перед покраской')
		//- +slidImg('path1', 'path2', 'alt')
		//- +slidImg('path1', 'path2', 'alt')
		//- +slidImg('path1', 'path2', 'alt')
	.container
		.strong Технические характеристики:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th Параметр
					th Значение
	
				tr.bg-light
					td  Мощность приводного двигателя, кВт
					td.text-center 3 150
	
				tr.bg-light
					td  Номинальное число оборотов приводного вала, об/мин
					td.text-center 500
	
				tr.bg-light
					td  Номинальное число оборотов выходного вала, об/мин
					td.text-center 16,254
	
				tr.bg-light
					td  Передаточное отношение
					td.text-center 30,7617

				tr.bg-light
					td  Мощность вспомогательного <br>Двигателя, кВт
					td.text-center 90

				tr.bg-light
					td  Номинально число оборотов вспомогательного двигателя, об/мин
					td.text-center 990

				tr.bg-light
					td Общее передаточное число вспомогательного привода
					td.text-center 77,4

				tr.bg-light
					td  Номинальное число оборотов редуктора с вспомогательным приводом, об/мин
					td.text-center 0,41

				tr.bg-light
					td  Система смазки
					td.text-center Циркуляционная

				tr.bg-light
					td  Объем масла, л
					td.text-center 1 500
	
				tr.bg-light
					td  Вес, кг
					td.text-center 56 000
	
	.pb-5
		+bread()
	+footer()