extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			h1.strong  Зубчатая пара мультипликатора Р-12500&nbsp;в составе турбокомпрессора К-890-121-1 для ПАО &laquo;СИБУР Холдинг&raquo;
			p Для пополнения фонда аварийно-технического запаса ООО &laquo;ВАКОМА РУС&raquo; выполнило работы по&nbsp;разработке конструкторской документации, изготовлению и&nbsp;поставке зубчатой пары мультипликатора Р-12500&nbsp;в составе турбокомпрессора К-890-121-1.
			p Разработка конструкторской документации была выполнена на&nbsp;основании проведённых замеров специалистами ООО &laquo;ВАКОМА РУС&raquo; на&nbsp;производственной площадке Заказчика. В&nbsp;комплект поставки входили: вал-шестерня, колесо зубчатое, комплекты зубчатых муфт. 
			p При изготовлении были использованы усовершенствованные NiCrMo марки сплавов, имеющие повышенные характеристики, с&nbsp;проведением термообработки поверхности зубьев&nbsp;&mdash; цементация (твердость 57&nbsp;HRC, h = 1,8&nbsp;&mdash; 2,9&nbsp;мм), зубошлифовке и&nbsp;динамической балансировке с&nbsp;установленными на&nbsp;валы зубчатыми втулками.
	//- +s-img-news-2016-08-11
	+s-img-news-body()
		+slidImg('img/@2x/2017-11-22-news-01.jpg', 'img/@2x/2017-11-22-news-xl-01.jpg')
		+slidImg('img/@2x/2017-11-22-news-02.jpg', 'img/@2x/2017-11-22-news-xl-02.jpg')
		+slidImg('img/@2x/2017-11-22-news-03.jpg', 'img/@2x/2017-11-22-news-xl-03.jpg')
	.container
		.strong Технические характеристики зубчатой пары:

		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th Параметр
					th Вал-шестерня
					th Колесо зубчатое с валом
				tr.bg-light
					td  Число зубьев
					td.text-center 41
					td.text-center 77
				mixin tr(t1, t2)
					tr.bg-light
						td= t1
						td(colspan="2" ).text-center= t2
				+tr("Угол наклона зубьев, °",'30')
				+tr("Модуль, мм",'7')
				+tr("Масса, кг",'2 100')
				
		.strong Технические характеристики муфт зубчатых:
		br
		br
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th Параметр
					th Муфта зубчатая  на&nbsp;приводном валу
					th  Муфта зубчатая на&nbsp;выходном валу

				mixin tr(t1, t2)
					tr.bg-light
						td= t1
						td( ).text-center= t2
						td( ).text-center= t3
				+tr("Частота вращения, об/мин",'5 640','3 000')
				+tr("Максимальный крутящий момент, Нм",'22 000','40 000')
				+tr("Масса, кг",'165','176')

	.pb-5
		+bread()
	+footer()