extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
	//- - let  mainYear= '2018'

block title
	- let  title= 'Новость'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			p.strong Пуско-наладочные работы редуктора вспомогательного привода и&nbsp;редуктора главного привода мельницы &Oslash;4,0&times;13,5&nbsp;м, изготовленных для ООО &laquo;Цемек Минералс&raquo;
			p По&nbsp;окончании монтажных работ на&nbsp;площадке клиента ООО &laquo;Цемек Минералс&raquo; состоялись пуско-наладочные работы редуктора вспомогательного привода и&nbsp;редуктора главного привода мельницы &Oslash;4,0&times;13,5&nbsp;м. Приводное оборудование смонтировано с&nbsp;мельницей без замечаний. После окончания пуско-наладочных работ привод мельницы выведен на&nbsp;номинальный режим работы.
	//- +s-img-news-15-06-2018
	+s-img-news-body()
		+slidImg('img/@2x/news-15-06-2018--1.jpg', 'img/@2x/news-15-06-2018--1.jpg', 'AKBT5300')
		+slidImg('img/@2x/news-15-06-2018--2.jpg', 'img/@2x/news-15-06-2018--2.jpg', 'GZOW8573')


	
	.pb-5
		+bread()
	+footer()