extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Зубчатая передача для редуктора Н-1-140 (импортозамещение David Brown RADIKON, Англия) для ООО «ЛУКОЙЛ-Волгограднефтепереработка»'
	title= title
block description 
	meta(name="description", content= "Зубчатая передача для редуктора Н-1-140 (импортозамещение David Brown RADIKON, Англия) для ООО «ЛУКОЙЛ-Волгограднефтепереработка»" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+text()(class="text-block--inner")
		.container
			p.strong Зубчатая передача для редуктора Н-1-140 (импортозамещение David Brown RADIKON, Англия) для ООО «ЛУКОЙЛ-Волгограднефтепереработка»
			p В рамках реализации ремонтной программы основного технологического оборудования Группы ЛУКОЙЛ осуществлена поставка зубчатой передачи для редуктора Н-1-140 David Brown RADIKON.
			p Комплект зубчатой передачи был изготовлен по конструкторской документации, разработанной специалистами нашей компании на основании геометрических замеров на производственной площадке заказчика. 
			p При изготовлении соблюдена унификации зубчатой передачи - возможность установки в любой существующий корпус редуктора Н-1-140 с учетом посадочных мест корпуса редуктора и применяемых типов подшипников.










	//-+s-img-news-2020-02-18
	+s-img-news-body()
		+slidImg('img/@2x/2020-08-10-news-01.jpg', 'img/@2x/2020-08-10-news-xl-01.jpg', 'вакома рус')
		+slidImg('img/@2x/2020-08-10-news-02.jpg', 'img/@2x/2020-08-10-news-xl-02.jpg', 'вакома рус')
		+slidImg('img/@2x/2020-08-10-news-03.jpg', 'img/@2x/2020-08-10-news-xl-03.jpg', 'вакома рус')
		+slidImg('img/@2x/2020-08-10-news-04.jpg', 'img/@2x/2020-08-10-news-xl-04.jpg', 'вакома рус')
		
	.container
		.strong Технические характеристики:
		.table-wrap
			table
				tr( style="background-color:#16437c; color: #fff").text-center
					th( ) Наименование параметра
					th Значение
	
				tr.bg-light
					td  Номинальная мощность, кВт
					td.text-center 190
	
				tr.bg-light
					td  Скорость вращения выходного, об/мин
					td.text-center 1 874
	
				tr.bg-light
					td  Передаточное число, i
					td.text-center 1,262
	
				tr.bg-light
					td  Масса, кг
					td.text-center 
	



 
	
	.pb-5
		+bread()
	+footer()