extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
	- let  mainYear= '2020'

block title
	- let  title= 'Новости — ООО Вакома РУС'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома новости, новости вакома рус, vakoma news, vakoma rus news, новости вакома 2016, новости вакома 2019, новости вакома 2017, новости вакома 2018, новости вакома 2020, новости вакома 2021" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+s-news-body()
		+itemNews("img/@2x/2020-12-25-news-01.jpg","25.12.2020","Капитальный ремонт редуктора Н-1-140 David Brown RADIKON для ПАО «Лукойл».",'news-2020-12-25.html')
		+itemNews("img/@2x/2020-12-01-news-01.jpg","01.12.2020","2 комплекта зубчатых передач редукторов градирни B2NV06 (импортозамещение FLENDER, Германия) для ПАО «СИБУР Холдинг»",'news-2020-12-01.html')
		+itemNews("img/@2x/2020-11-16-news-03.jpg","16.11.2020","Капитальный ремонт редуктора SIEMENS (тип ZK) для вентиляторной градирни ПАО «Нижнекамскнефтехим»",'news-2020-11-16.html')
		+itemNews("img/@2x/2020-09-20-news-02.jpg","20.09.2020","Экспериментальная поставка аналога промвала Rexnord специального исполнения для вентиляторной установки Linde (импортозамещение США, Германия) для ПАО «СИБУР Холдинг»",'news-2020-09-20.html')
		+itemNews("img/@2x/2020-08-20-news-01.jpg","20.08.2020","Капитальный ремонт редуктора HANSEN типа QVRA2-CUN-7.1 для ООО «ЛУКОЙЛ-Волгограднефтепереработка»",'news-2020-08-20.html')
		+itemNews("img/@2x/2020-08-10-news-01.jpg","10.08.2020","Зубчатая передача для редуктора Н-1-140 (импортозамещение David Brown RADIKON, Англия) для ООО «ЛУКОЙЛ-Волгограднефтепереработка»",'news-2020-08-10.html')
		+itemNews("img/@2x/2020-07-20-news-01.jpg","20.07.2020","Зубчатая передача Турборедуктора М-430 в составе газоперекачивающего агрегата ТКА-Ц-16-76для ПАО «СИБУР Холдинг»",'news-2020-07-20.html')
		+itemNews("img/@2x/2020-07-10-news-01.jpg","10.07.2020","Зубчатая пара мультипликатора Р-12500 в составе турбокомпрессора К-890-121-1 для ПАО «СИБУР Холдинг»",'news-2020-07-10.html')
		+itemNews("img/@2x/vakoma-preview.jpg","17.06.2020","Первый юбилей ООО «ВАКОМА РУС» - нам 5 лет!",'news-2020-06-17.html')
		+itemNews("img/@2x/2020-06-09-news-08.jpg","09.06.2020","Капитальный ремонт редуктора TCU агрегата выделения каучука WELDING1 для ПАО «Нижнекамскнефтехим»",'news-2020-06-09.html')
		+itemNews("img/@2x/xxхх-хх-хх-preview.jpg","12.05.2020","Подписан договор на поставку зубчатой передачи для редуктора Н-1-140 (импортозамещение David Brown RADIKON, Англия) для ООО «ЛУКОЙЛ-Волгограднефтепереработка»",'news-2020-05-12.html')
		+itemNews("img/@2x/2020-04-10-preview.jpg","10.04.2020","Подписан договор на выполнение капитального ремонта редуктора Р-3600 установки ГТТ-3М для ПАО «АКРОН»",'news-2020-04-10.html')
		+itemNews("img/@2x/2020-03-12-preview.jpg","12.03.2020","Зубчатая передача турборедуктора М-430 компрессора 16ГЦ-300/6-120 для ПАО «СИБУР Холдинг»",'news-2020-03-12.html')
		+itemNews("img/@2x/2020-02-18-preview.jpg","18.02.2020","Шефмонтаж и пусконаладка турбо-планетарного редуктора RENK TPA-40P компрессорной установки на предприятии ЛУКОЙЛ-ООО «СТАВРОЛЕН»",'news-2020-02-18.html')

	.pb-5
		+bread()
	//- +s-img
	+footer()