extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
	- let  mainYear= '2020'

block title
	- let  title= 'Новости — ООО Вакома РУС'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома новости, новости вакома рус, vakoma news, vakoma rus news, новости вакома 2016, новости вакома 2019, новости вакома 2017, новости вакома 2018, новости вакома 2020, новости вакома 2021" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+s-news-body()
		+itemNews("img/@2x/news-15-06-2018--2.jpg","00.00.2020","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","00.00.2020","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","00.00.2020","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
	.pb-5
		+bread()
	//- +s-img
	+footer()