extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 
include ../blocks/s-news/_s-news.pug 

block variables
	- let  mainPage= null
	- let  mainYear= '2018'

block title
	- let  title= 'Новости — ООО Вакома РУС'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома новости, новости вакома рус, vakoma news, vakoma rus news, новости вакома 2016, новости вакома 2019, новости вакома 2017, новости вакома 2018, новости вакома 2020, новости вакома 2021" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты
	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()

	+bread()
	
	+s-news-body()
		+itemNews("img/@2x/news-15-06-2018--2.jpg","25.12.2018 ","Изготовление корпуса турборедуктора М-430 привода центробежного компрессора 16ГЦ-300/6-126 для ПАО «СИБУР Холдинг»",'news-2018-12-25.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","23.11.2018","Проектирование, изготовление и ввод в эксплуатацию турбоаэраторов окситенка (6 шт.) для ПАО «СИБУР Холдинг»",'news-2018-11-23.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","15.10.2018","3 комплекта зубчатых пар конического редуктора G9C5 АВО (импортозамещение NIPPONGEAR, Япония) для ПАО «СИБУР Холдинг»",'news-2018-10-15.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","08.10.2018","Комплект зубчатой пары мультипликатора центробежного компрессора 4ГЦ2-184/13,5-76М1 для ПАО «СИБУР Холдинг»",'news-2018-10-08.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","06.08.2018","Поставка винтовой пары двухвинтового насоса HOUTTUIN (импортозамещение) для ПАО «СИБУР Холдинг»",'news-2018-08-06.html')
		+itemNews("img/@2x/2018-07-04-preview.jpg","04.07.2018","Зубчатая передача мультипликатора нагнетателя Н-360-22-1 для ПАО «Нижнекамскнефтехим»",'news-2018-07-04.html')
		+itemNews("img/@2x/2018-07-03-3-preview.jpg","03.07.2018","Комплект подшипников скольжения для мульнипликатора TA-71B (импортозамещение KINGSBURY, США) для ПАО «СИБУР Холдинг»",'news-2018-07-03--3.html')
		+itemNews("img/@2x/2018-07-03-2-preview.jpg","03.07.2018","Муфта 18 МВт электродвигатель-турборедуктор ТА-71В (импортозамещение HOLSET, Англия) для ПАО «СИБУР Холдинг»",'news-2018-07-03--2.html')
		+itemNews("img/@2x/2018-07-03-1-preview.jpg","03.07.2018","Комплект зубчатой пары для мультипликатора TA-71B (импортозамещение RENK, Германия) для ПАО «СИБУР Холдинг»",'news-2018-07-03--1.html')
		+itemNews("img/@2x/news-15-06-2018--2.jpg","15.06.2018","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-2018-06-15.html')
		+itemNews("img/@2x/2018-04-27-preview.jpg","27.04.2018","Комплект зубчатой передачи турборедуктора Р-3600 установки ГТТ-3М для АО «ОХК «УРАЛХИМ»",'news-2018-04-27.html')
		+itemNews("img/@2x/2018-03-12-preview.jpg","12.03.2018","Ремонтный комплект зубчатой передачи делящего редуктора двухшнекового экструдера DWD (импортозамещение WELDING, Швейцария) для ПАО «Нижнекамскнефтехим»",'news-2018-03-12.html')
		+itemNews("img/@2x/2018-02-20-preview.jpg","20.02.2018","8 редукторов для аппаратов воздушного охлаждения (АВО) по программе импортозамещения (NIPPON GEAR, Япония) для ПАО «СИБУР Холдинг»",'news-2018-02-20.html')
		//- +itemNews("img/@2x/news_2016-08-11_preview.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'news-2016-08-11.html')
		//- +itemNews("img/@2x/09-07-2016--4.jpg","09.07.2016","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
		//- +itemNews("img/@2x/news-15-06-2018--1.jpg","09.07.2016","Поставка редуктора вспомогательного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016--2.html')
	.pb-5
		+bread()
	//- +s-img
	+footer()