extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Вакома РУС, проектирование и изготовление редукторной техники'
	title= title
block description 
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "вакома, вакома магитогорск, вакома рус, vakoma, проектирование редукторной техники, изготовление редуктора, проектирование редуктора, проектирование валов редуктора, проектирование одноступенчатого редуктора, проектирование планетарного редуктора, проектирование редуктора, проектирование цилиндрического редуктора, проектирование червячного редуктора" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item.active( itemprop="item" ): +e.A.link(href="our-company.html"  itemprop="url") 
				span О компании
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			
			+e.LI.item.dropdown( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты


	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()
	+text()
		.container
			p #[strong Основным направлением ООО &laquo;ВАКОМА РУС&raquo; является проектирование и&nbsp;изготовление редукторной техники] с&nbsp;целью интеграции инженерных разработок ВАКОМА в&nbsp;российские и международные модернизационные проекты в&nbsp;области нефтедобычи, нефтепереработки, химии, нефтехимии, энергетики и&nbsp;металлургии с&nbsp;предложением Заказчикам следующей основной номенклатуры приводных машин:
			ul
				li Тяжелонагруженные цилиндрические редукторы мощностью до&nbsp;5000&nbsp;кВт;
				li Редукторы экструдеров, экспеллеров, отжимных и&nbsp;сушильных машин;
				li Высокоскоростные мультипликаторы (турборедукторы) для газотурбинных установок, дожимных компрессорных установок и&nbsp;турбодетандеров;
				li Мультипликаторы нагнетателей и&nbsp;центробежных компрессоров;
				li Мультипликаторы для горизонтальных насосных установок;
				li Модернизированные редукторы для аппаратов воздушного охлаждения (АВО), станков-качалок и&nbsp;систем цепного привода;
				li Аналоги редукторов и&nbsp;зубчатых пар отечественных и&nbsp;иностранных производителей.
			p Изготовление оборудования ведется как на&nbsp;основании предоставленной конструкторской документации Заказчиком, а&nbsp;также по&nbsp;собственному инжинирингу на&nbsp;основании проведенных геометрических замеров действующего оборудования с&nbsp;сохранением посадочных мест и&nbsp;присоединительных размеров.
	//- s-img 
	+s-img-main 
	+footer()