extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/s-img/_s-img.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Тяжелонагруженные редукторы — ООО Вакома РУС'
	title= title
	meta(name="description", content= "Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу" )

block keywords
	meta(name="Keywords", content= "Тяжелонагруженные редукторы, цилиндрические редукторы, планетарные редукторы, Зубчатые передачи, Термообработка поверхности зубьев, редуторы с конической косозубой передачей" )
block pagecontent 
	mixin menu()
		+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( itemprop="item" ): +e.A.link(href="index.html"  itemprop="url") 
				span Главная
			+e.LI.item( itemprop="item" ): +e.A.link(href="tehnicheskie-vozmojnosti.html"  itemprop="url") 
				span Технические возможности
			+e.LI.item( itemprop="item" ): +e.A.link(href="novosti-2016.html"  itemprop="url") 
				span Новости
			+e.LI.item.dropdown.active( itemprop="item" ): +e.link 
				span Редукторы и&nbsp;мультипликаторы
				+b.UL.drop
					+e.LI.item
						+e.A.link(href="tyajelonagrujennie-reduktori.html" itemprop="url") Тяжелонагруженные редукторы
					+e.LI.item
						+e.A.link(href="turboreduktori.html" itemprop="url") Мультипликаторы (турборедукторы)
			+e.LI.item( itemprop="item" ): +e.A.link(href="zubchatie-peredachi.html"  itemprop="url") 
				span Зубчатые передачи и&nbsp;комплектующие
			+e.LI.item( itemprop="item" ): +e.A.link.text-warning(href="importozameshenie.html"  itemprop="url")
				span Импортозамещение
			+e.LI.item( itemprop="item" ): +e.A.link(href="kontakti.html"  itemprop="url") 
				span Контакты


	//- +header()
	+mob-mnu()
		+menu()
	+topLine()
	+top-nav
		+menu()
	.container
		nav(aria-label="breadcrumb" )
			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
				li.breadcrumb-item(  itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='index.html' itemprop="item" )
						span( itemprop="name") Главная 
						meta(itemprop="position" )
				li.breadcrumb-item( class="active" itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name") Тяжелонагруженные редукторы
						meta(itemprop="position" )
	+text()(class="text-block--gearboxes")
		.container
			h1.h2.text-center Тяжелонагруженные редукторы
			p Мы&nbsp;разрабатываем различные типы редукторов для применения в&nbsp;составе основного технологического оборудования предприятий различных областей.
			p Предлагаемые к&nbsp;поставке редукторы (цилиндрические, с&nbsp;конической косозубой передачей, планетарные) могут быть полным аналогом редукторов, эксплуатирующихся Заказчиком, а&nbsp;также специально разработанной моделью (адаптивное решение) с&nbsp;учетом возможности установки новой машины на&nbsp;существующие фундаменты, с&nbsp;полным сохранением всех основных присоединительных размеров.
			p Корпуса редукторов могут быть разработаны и изготовлены в двух вариантах:
			ul
				li Крутильно-жесткий, недеформируемый, сварной конструкции (рассчитан&nbsp;в&nbsp;соответствии&nbsp;с&nbsp;МКЭ);
				li Литой, с&nbsp;механической обработкой.
			p Зубчатые передачи&nbsp;&mdash; твердые шлифованные. При изготовлении зубчатых передач используются улучшенные марки NiCrMo-сплавов.
			p Термообработка поверхности зубьев&nbsp;&mdash; цементация.
			p Подшипники, устанавливаемые в&nbsp;редукторы нашей конструкции,&nbsp;&mdash; от&nbsp;ведущих мировых производителей (SKF, FAG, TIMKEN, EVOLMEC).
			p Системы смазки рассчитываются индивидуально для каждого типа редуктора.
			p Основные отрасли применения тяжелонагруженных редукторов «ВАКОМА РУС»:
			ul
				li Строительная промышленность (вращающиеся печи, мельницы, сушильные барабаны и&nbsp;пр.)
				li Нефтехимическая отрасль (экструдеры, экспеллеры, сушильные и&nbsp;отжимные машины, аэраторы и&nbsp;пр.).
				li Нефтегазовая отрасль (редукторы для аппаратов воздушного охлаждения, станков-качалок, систем цепного привода и&nbsp;пр.)
	+s-img-tnr
	+footer()