mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row
				+e.mob.col-auto.align-self-center.d-block.d-lg-none
					+b.toggle-menu-mobile--js.d-lg-none
						span
				+e.col.col.col-md-7
					+e.logo(href="/")
						+e.DIV.pferde-wrap
							img.res-i(src="img/@2x/pferde.png" alt="")
						+e.DIV.vacoma
							img.res-i(src="img/@2x/logo.png" alt="")
							p Ваше&nbsp;ателье&nbsp;в&nbsp;области&nbsp;редукторостроения
				.col-3.d-none.d-lg-block.align-self-center
					+e.A.write(href="mailto:office@vakoma.ru")
						+icon('mail')
						+e.mail #[strong Пишите нам:] office@vakoma.ru
				.col-2.text-right.d-none.d-lg-block
					+e.contacts
						+e.A.nuber(href="tel:8(3519)23-54-00") 8 (3519) #[strong 23-54-00]
						+e.A.call.link-modal(href="#modal-call") Заказать звонок
						+e.messengers
							+messengers()
				.col.d-block.d-lg-none.align-self-center
					+e.A.tel(href="tel:8(3519)23-54-00")
						+icon('phone')
	// end topLine