mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row
				+e.mob.col-auto.align-self-center.d-block.d-lg-none
					block
				+e.col.col.col-md-7
					+e.logo
						+e.pferde-wrap
							img.res-i(src="img/@2x/pferde.png" alt="")
						+e.A.vacoma(href="#")
							img.res-i(src="img/@2x/logo.png" alt="")
							p Ваше&nbsp;ателье&nbsp;в&nbsp;области&nbsp;редукторостроения
				.col-3.d-none.d-lg-block.align-self-center
					+e.A.write(href="mailto:office@vakoma.ru")
						+icon('mail')
						+e.mail #[strong Пишите нам:] office@vakoma.ru
				.col-2.text-right.d-none.d-lg-block
					+e.contacts
						+e.A.nuber(href="tel:8(3519)23-54-00") 8 (3519) #[strong 23-54-00]
						+e.A.call.link-modal(href="#modal-call") Заказать звонок
						+e.messengers
							a(href="https://t.me/joinchat/AAAAAEaqwNfJ8lhEEfuFbg")
								img(src="img/telegram.png", alt="alt")
							a(href="https://invite.viber.com/?g2=AQBJwWTp9zNKH0tCN%2BaR3jUoUCNs0KX%2FeFXQeOhR%2B8snqE7Z3r%2BM0vZrTovzcgzE")
								img(src="img/viber.png", alt="alt")
							a(href="https://wa.me/+380-00-00-00-000")
								img.whatsapp(src="img/whatsapp.png", alt="alt")
				.col.d-block.d-lg-none.align-self-center
					+e.A.tel(href="tel:8(3519)23-54-00")
						+icon('phone')
	// end topLine