.top-nav {
	// position: absolute;
	top: 100%;
	background-color: $primary;
	@include roww(0);
	// @include clearfix;ss
	z-index: 20;
	@include mt;
	// padding-top: rem(12px);
	// padding-bottom: rem(12px);
	top: 0;
	left: 0;
	width: 100%;

	&.fixed {
		width: 100vw;
		bottom: auto;
		margin-top: 0;
		background-color: #fff;
	}

	ul {
		margin-bottom: 0;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		list-style-type: none;
	}

	&__item {
		display: block;
		position: relative;
		list-style-type: none;
		width: 100%;
	}

	.dropdown {
		&:hover .drop {
			display: flex;
		}
	}

	&__link {
		width: auto;
		height: rem(60);
		padding: rem(10);
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		// text-align: left;
		color: #fff;
		text-decoration: none !important;

		@include media-breakpoint-up(xl) {
			font-size: rem(17.6);
		}

		font-size: rem(13);
		line-height: rem(18);
		// display: block;
		@include mt;
		text-align: left;

		&:hover {
			color: #fff;
			// color: $yellow;
			background-color: $ultramarine;
		}
	}

	.active {
		background-color: $blue;
	}

	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

.drop {
	display: none;
	// display: flex;
	flex-direction: column;
	position: absolute;
	overflow: hidden;
	top: 100%;
	left: 0;
	border-radius: rem(10);
	@include media-breakpoint-up(lg) {
		background-color: #fff;
		box-shadow: 0 0 23px 12px rgba(192, 192, 192, 0.07);
		border: 5px solid #f0f0f0;
	}
	min-width: rem(300);

	&__item {
		position: relative;

		@include media-breakpoint-up(lg) {
			// padding: rem(10);

		}
	}

	li {
		list-style: none;
	}

	&__link {
		// padding: rem(10) rem(15);
		@include media-breakpoint-down(md) {
			color: #fff;
		}
		position: relative;
		z-index: 2;
		overflow: hidden;
		display: block;
		text-decoration: none !important;
		min-width: rem(300);
		&::before {
			content: '';
			z-index: -1;
			left: 0;
			top: 0;
			position: absolute;
			// border-radius: rem(10px);
			width: 100%;
			height: 100%;
			opacity: 0;
			@include mt;
			background-image: linear-gradient(-10deg, $primary 0%, $blue 100%);
		}
		@include media-breakpoint-up(lg) {
			// padding: rem(10);
			padding: .8rem .45rem;
			text-align: center;
			&.active, &:hover {
				&::before {
					opacity: 1;
				}
				background-color: transparent;
				color: #fff;
				.icon {
					color: #fff;
				}
			}
		}

	}

	.top-nav__link {
		display: none;
	}
}

.dropdown {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		right: 6%;
		width: rem(30);
		height: rem(30);
		top: rem(18);
		@include media-breakpoint-up(lg) {
			@include a-cent(y);
		}
		@include triangle(12px, white, down);
		// @include triangle(12px 6px, gray lavender, up-left);
	}
}
