include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
block php
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		block description 
			meta(name="description", content= description )
		
		block keywords
			meta(name="Keywords", content= keywords )
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.png') 
		<meta name="format-detection" content="telephone=no">
		link(rel="image_src" href="http://vakoma.ru/img/soc-logo.png" )
		meta( property="og:type" content="website")
		meta( property="og:site_name" content="Вакома РУС")
		meta( property="og:title" content="Вакома РУС, проектирование и изготовление редукторной техники")
		meta( property="og:description" content="Проектирование и изготовление редукторной техники на основании конструкторской документации Заказчиком, а также по собственному инжинирингу")
		meta( property="og:url" content="https://vakoma.ru")
		meta( property="og:locale" content="ru_RU")
		meta( property="og:image" content='img/og-image.jpg')
		meta( property="og:image:width" content="968")
		meta( property="og:image:height" content="504")

		// Custom Browsers Color
		meta(name='theme-color', content='#3361d8')
		+allcss()
	block variables
	body(class= mainPage data-body-year= mainYear)
		+ie11()
		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		+allcjs()
		<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(61451359, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/61451359" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->